### DOCKER
PROJECT=
PROD=true|false
DOMAIN=

DOCKER_REGISTRY=
TAG=

TRAEFIK_NETWORK=

### CLIENT
VITE_ENV=dev|test|stage|prod
VITE_IMAGE_TAG=
VITE_API_URL=

### SERVER
ENV=dev|test|stage|prod
LOG_LEVEL=debug|info|warning|error|critical
CLIENT_URL=

ADMIN__USERNAME=
ADMIN__EMAIL=
ADMIN__FIRST_NAME=
ADMIN__LAST_NAME=
ADMIN__PASSWORD=

JWT__SECRET_KEY=
JWT__ALGORITHM=
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=
JWT__REFRESH_TOKEN_EXPIRE_DAYS=

DB__HOST=
DB__PORT=
DB__NAME=
DB__USER=
DB__PASSWORD=

EMAIL__BACKEND=
EMAIL__EMAIL_FROM=
EMAIL__SMTP_HOST=
EMAIL__SMTP_PORT=
EMAIL__SMTP_USERNAME=
EMAIL__SMTP_PASSWORD=

GH__BACKEND=
GH__REPO_OWNER=
GH__TOKEN=
GH__ISSUE_ASSIGNEE=

MS__HOST=
MS__PORT=
MS__MASTER_KEY=
